/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';

body {
    position: relative;
    height: 100vh;
    font-family: Arial, Helvetica, Helvetica Neue, serif;
    margin: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
}

#root {
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: black;
    opacity: 0.75;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.drone {
    background-image: url('drone.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.droneConnected{
    filter: hue-rotate(60deg) brightness(2.5);
}

.droneMoving {
    filter: hue-rotate(120deg) brightness(1.5);
}

.droneStatusControl {
    height: 18rem;
    width: 16rem;
    margin: 8px;
    padding: 4px;
    background-color: white;
    border-radius: 4px;
    border: lightgray solid 1px;
}

.mapbox-gl-goto-drone {
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: auto;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 8 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(0.625142,0,0,0.625142,0.906397,0.906426)'%3E%3Ccircle cx='4.997' cy='5.002' r='0.487'/%3E%3C/g%3E%3Cg transform='matrix(0.625142,0,0,0.625142,0.906397,0.906426)'%3E%3Cpath d='M6.771,5.967C6.783,5.98 6.794,5.996 6.808,6.01L7.095,6.297C7.147,6.287 7.199,6.281 7.251,6.279C7.223,6.348 7.2,6.453 7.2,6.609C7.2,6.668 7.204,6.726 7.209,6.785L6.817,6.395L6.62,6.197C6.586,6.162 6.556,6.127 6.525,6.092C5.993,5.463 5.995,4.534 6.531,3.907C6.56,3.873 6.589,3.84 6.62,3.808L7.251,3.177C7.255,3.381 7.274,3.601 7.3,3.72C7.234,3.72 7.167,3.715 7.101,3.702L6.808,3.996C6.797,4.007 6.787,4.02 6.775,4.032C7.289,4.232 7.895,4.126 8.309,3.713C8.866,3.155 8.867,2.248 8.309,1.691C7.751,1.134 6.844,1.133 6.287,1.691C5.873,2.104 5.768,2.71 5.968,3.224C5.98,3.213 5.992,3.203 6.004,3.192L6.297,2.899C6.287,2.848 6.282,2.797 6.279,2.746C6.346,2.776 6.454,2.799 6.617,2.799C6.669,2.799 6.723,2.797 6.779,2.792L6.395,3.176L6.191,3.379C6.159,3.411 6.127,3.44 6.093,3.469C5.465,4.004 4.537,4.006 3.907,3.474C3.871,3.444 3.836,3.413 3.803,3.379L3.605,3.183L3.172,2.749C3.375,2.745 3.598,2.726 3.721,2.7C3.721,2.768 3.717,2.837 3.703,2.905L3.99,3.192C4.004,3.205 4.018,3.216 4.032,3.229C4.232,2.716 4.127,2.11 3.713,1.696C3.155,1.138 2.248,1.138 1.691,1.696C1.134,2.254 1.133,3.161 1.691,3.718C2.104,4.132 2.712,4.238 3.224,4.037C3.211,4.024 3.199,4.009 3.186,3.996L2.898,3.709C2.849,3.718 2.798,3.723 2.748,3.726C2.779,3.66 2.805,3.551 2.805,3.382C2.805,3.334 2.803,3.284 2.799,3.234L3.177,3.611L3.374,3.808C3.407,3.842 3.438,3.877 3.469,3.913C3.997,4.538 4,5.458 3.475,6.086C3.442,6.123 3.41,6.162 3.374,6.197L3.184,6.388L2.755,6.816C2.75,6.611 2.731,6.393 2.705,6.273C2.772,6.271 2.84,6.277 2.905,6.289L3.185,6.01C3.201,5.994 3.214,5.977 3.229,5.961C2.717,5.76 2.11,5.867 1.696,6.279C1.138,6.838 1.138,7.744 1.696,8.302C2.254,8.859 3.161,8.859 3.718,8.302C4.132,7.888 4.238,7.282 4.038,6.769C4.022,6.785 4.006,6.799 3.99,6.814L3.709,7.094C3.719,7.145 3.725,7.198 3.727,7.248C3.66,7.217 3.552,7.193 3.389,7.193C3.336,7.193 3.283,7.197 3.228,7.201L3.612,6.816L3.803,6.625C3.838,6.59 3.876,6.557 3.914,6.525C4.541,6 5.461,6.002 6.086,6.531C6.122,6.56 6.157,6.592 6.191,6.625L6.387,6.822L6.81,7.244C6.605,7.25 6.389,7.27 6.273,7.295C6.273,7.231 6.278,7.164 6.29,7.1L6.004,6.814C5.99,6.801 5.976,6.789 5.962,6.775C5.762,7.289 5.867,7.894 6.28,8.308C6.839,8.867 7.745,8.867 8.302,8.308C8.86,7.752 8.86,6.844 8.304,6.287C7.89,5.873 7.283,5.768 6.771,5.967ZM8.021,3.423C7.856,3.589 7.647,3.683 7.431,3.711C7.459,3.644 7.481,3.538 7.481,3.382C7.481,3.253 7.465,3.109 7.445,2.984L7.681,2.748C7.708,2.748 7.737,2.749 7.769,2.749C7.956,2.749 8.171,2.735 8.319,2.713C8.315,2.971 8.216,3.228 8.021,3.423ZM8.306,2.543C8.244,2.529 8.165,2.519 8.064,2.519C7.98,2.519 7.89,2.525 7.804,2.536C7.807,2.512 7.808,2.488 7.805,2.463L7.802,2.42L7.823,2.383C7.824,2.383 7.824,2.382 7.824,2.382L7.617,2.176C7.617,2.176 7.616,2.177 7.615,2.177L7.579,2.198L7.537,2.194C7.5,2.19 7.465,2.194 7.431,2.203C7.43,2.024 7.416,1.825 7.396,1.685C7.625,1.707 7.846,1.805 8.021,1.979C8.18,2.138 8.273,2.336 8.306,2.543ZM6.913,2.568C6.688,2.568 6.421,2.588 6.282,2.618C6.301,2.385 6.398,2.157 6.576,1.978C6.757,1.798 6.989,1.7 7.228,1.684C7.211,1.747 7.201,1.829 7.201,1.935C7.201,2.065 7.216,2.209 7.237,2.334L7.002,2.57C6.974,2.569 6.944,2.568 6.913,2.568ZM3.711,2.566C3.645,2.54 3.541,2.519 3.389,2.519C3.256,2.519 3.108,2.535 2.981,2.557L2.754,2.332C2.756,2.3 2.756,2.267 2.756,2.231C2.756,2.047 2.742,1.835 2.721,1.688C2.977,1.693 3.23,1.792 3.424,1.985C3.587,2.148 3.682,2.354 3.711,2.566ZM1.979,1.985C2.139,1.825 2.34,1.73 2.549,1.699C2.535,1.761 2.525,1.837 2.525,1.935C2.525,2.019 2.532,2.11 2.543,2.198C2.515,2.193 2.486,2.191 2.457,2.194L2.415,2.198L2.379,2.177C2.378,2.177 2.377,2.176 2.377,2.176L2.17,2.382C2.171,2.382 2.172,2.383 2.172,2.384L2.193,2.421L2.188,2.463C2.185,2.499 2.189,2.535 2.198,2.568C2.02,2.57 1.822,2.584 1.686,2.604C1.709,2.378 1.807,2.158 1.979,1.985ZM2.627,3.724C2.391,3.707 2.159,3.61 1.979,3.43C1.797,3.247 1.699,3.011 1.684,2.771C1.748,2.787 1.832,2.798 1.942,2.798C2.069,2.798 2.208,2.784 2.331,2.764L2.576,3.01C2.576,3.034 2.575,3.059 2.575,3.086C2.575,3.315 2.596,3.588 2.627,3.724ZM1.985,6.568C2.15,6.404 2.359,6.308 2.576,6.281C2.547,6.348 2.525,6.453 2.525,6.609C2.525,6.74 2.541,6.884 2.561,7.009L2.326,7.244L2.238,7.244C2.05,7.244 1.835,7.258 1.687,7.279C1.69,7.021 1.789,6.766 1.985,6.568ZM1.7,7.449C1.762,7.463 1.84,7.472 1.941,7.472C2.022,7.472 2.108,7.466 2.192,7.458C2.188,7.486 2.186,7.514 2.188,7.543L2.193,7.584L2.172,7.621C2.171,7.621 2.171,7.623 2.17,7.623L2.377,7.828L2.379,7.828L2.415,7.807L2.457,7.813C2.498,7.815 2.537,7.811 2.575,7.799C2.576,7.975 2.59,8.17 2.609,8.309C2.382,8.285 2.16,8.188 1.985,8.014C1.827,7.855 1.732,7.656 1.7,7.449ZM3.094,7.424C3.318,7.424 3.586,7.404 3.724,7.375C3.705,7.607 3.607,7.836 3.43,8.014C3.249,8.196 3.016,8.293 2.78,8.309C2.796,8.246 2.805,8.164 2.805,8.057C2.805,7.928 2.79,7.784 2.77,7.659L3.005,7.425C3.033,7.424 3.062,7.424 3.094,7.424ZM4.997,5.754C4.582,5.754 4.244,5.418 4.244,5.003C4.244,4.588 4.582,4.251 4.997,4.251C5.412,4.251 5.749,4.589 5.749,5.003C5.749,5.417 5.412,5.754 4.997,5.754ZM7.383,6.283C7.613,6.303 7.838,6.4 8.015,6.576C8.193,6.754 8.291,6.984 8.31,7.219C8.246,7.205 8.167,7.193 8.064,7.193C7.93,7.193 7.783,7.209 7.655,7.232L7.43,7.006C7.431,6.975 7.431,6.942 7.431,6.906C7.431,6.686 7.411,6.424 7.383,6.283ZM6.28,7.42C6.347,7.449 6.454,7.473 6.617,7.473C6.743,7.473 6.882,7.459 7.005,7.44L7.251,7.686C7.25,7.709 7.25,7.734 7.25,7.762C7.25,7.951 7.265,8.172 7.287,8.319C7.027,8.319 6.767,8.219 6.569,8.02C6.402,7.854 6.307,7.641 6.28,7.42ZM8.015,8.02C7.857,8.178 7.66,8.271 7.455,8.305C7.47,8.242 7.48,8.162 7.48,8.059C7.48,7.979 7.474,7.893 7.464,7.811C7.487,7.813 7.512,7.815 7.536,7.813L7.578,7.807L7.614,7.828L7.616,7.828L7.822,7.623L7.822,7.621L7.801,7.584L7.806,7.543C7.81,7.502 7.805,7.463 7.794,7.424C7.97,7.424 8.168,7.41 8.309,7.391C8.288,7.619 8.19,7.844 8.015,8.02Z' style='fill-rule:nonzero;'/%3E%3C/g%3E%3C/svg%3E%0A");
}
